.button {
  @include fluid-text(18, 12);
  border-radius: var(--border-radius);
  border: none;
  height: var(--button-heigth);
  background-color: var(--color-purple);
  font-family: var(--font-family-base);
  font-weight: 600;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--color-light);
  cursor: pointer;
}
