.contact-us {
  --contactUsInnerPaddingX: 50px;
  --contactUsInnerPaddingY: calc( var(--contactUsInnerPaddingX) * 2); 

  column-gap: 24px;
  row-gap: 25px;
  align-items: stretch;

  @include mobile-s {
    --contactUsInnerPaddingX: 20px;

    row-gap: 20px;
  }

  // .contact-us__wrapper 

  &__wrapper {

    @include tablet {
      max-width: 428px;
      margin-inline: auto;
    }
  }
  
  // .contact-us__form

  &__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 25px;
    background-color: var(--color-light);
    padding: var(--contactUsInnerPaddingY) var(--contactUsInnerPaddingX);
    border-radius: var(--border-radius);
  }

  // .contact-us__legend
  &__legend {
    font-family: var(--font-family-base);
    font-weight: 600;
    font-size: 24px;
    line-height: 108%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--color-dark);
    margin-bottom: 25px;
  }

  // .contact-us__button

  &__button {
    background-color: var(--color-green);
    color: var(--color-light);

    @include tablet {
      max-width: 428px;
      width: 100%;
      margin-inline: auto;
    }
  }
}
