.field {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  // .field__label

  &__input {
    width: 100%;
    height: var(--input-heigth);
    padding-inline: 16px;
    color: var(--color-dark);
    background-color: var(--color-light);
    border: 1px solid rgba(20, 20, 20, 0.2);
    border-radius: var(--border-radius);

    @include hover {
      background-color: var(--color-light-mute);
    }

    @include mobile {
      padding-inline: 20px;
    }

    &:focus {
      border-color: var(--color-green);
      outline: none;
    }

    &::placeholder {
      color: var(--color-dark-mute);
    }

    // .field__input--textarea

    &--textarea {
      height: 95px;
      padding-block: 16px;
      letter-spacing: -0.02em;
      resize: none;

      @include mobile {
        padding-top: 14px;
        line-height: 1.29;
        height: 91px;
      }
    }
  }
}
