.hero {
  background-color: var(--color-green);

  align-items: end;

  @include tablet {
    padding-top: 122px;
    align-items: center;
  }

  // .hero__body

  &__body {
    padding-inline: var(--grid-content-padding) 28px;

    @include tablet {
      padding-inline: var(--container-padding-x);
    }
  }

  // .hero__title

  &__title {
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin-bottom: 128px;

    @include tablet {
      margin-bottom: 25px;
    }
  }

  // .hero__description

  &__description {
    max-width: 472px;
    margin-bottom: 50px;
  }

  // .hero__img

  &__img {
    @include filter;

    object-fit: cover;
    object-position: center;
    width: 100%;

    @include tablet {
      max-height: 539px;
    }
  }
}
