.soc1als {
  // .soc1als__wrapper

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-green);
    color: var(--color-light);
    padding: var(--contactUsInnerPaddingY) var(--contactUsInnerPaddingX);
    border-radius: var(--border-radius);
  }

  // .soc1als__img

  &__img {
    @include filter;

    object-fit: none;
    width: 100%;
    border-radius: var(--border-radius-small);
    margin-bottom: 35px;

    @include mobile-s {
      margin-bottom: 20px;
    }
  }

  // .soc1als__title

  &__title {
    @include fluid-text(18, 14);

    font-family: var(--font-family-base);
    font-weight: 600;
    line-height: 1.11;
    letter-spacing: -0.01em;
    color: rgba(251, 251, 251, 0.5);
    margin-bottom: 15px;

    @include mobile-s {
      margin-bottom: 14px;
      line-height: 1.29;
    }
  }

  // .soc1als__description

  &__description {
    @include fluid-text(32, 24);

    font-family: var(--font-family-base);
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.01em;
    color: var(--color-light);


    @include mobile-s {
      line-height: 1.08;
    }
  }
}
