.vegetables {

  // .vegetables__header
  &__header {
    max-width: 626px;
  }

  // .vegetables__title

  &__title {
  }

  // .vegetables__description

  &__description {
  }

  // .vegetables__list

  &__list {
    align-items: stretch;

    @include mobile-s {
      --gridColumns: 1;
    }

  }

  // .vegetables__item

  &__item {
  }
}
