.vegetables__card {
  background-color: var(--color-light);
  border-radius: 40px;
  padding: 32px;
  height: 100%;

  // .vegetables__card-header

  &-header {
    font-family: var(--font-family-base);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--color-dark);
    margin-bottom: 10px;

    @include mobile-s {
      margin-bottom: 14px;
    }
  }

  // .vegetables__card-designation

  &-designation {
    @include fluid-text(32, 28);

    font-family: var(--font-family-base);
    font-weight: 600;
    line-height: 1;
    text-transform: none;
    letter-spacing: -0.01em;
    color: var(--color-purple);
    margin-bottom: 12px;
  }

  // .vegetables__card-price

  &-price {
  }

  // .vegetables__card-currency

  &-currency {
  }

  // .vegetables__card-img

  &-img {
    object-fit: contain;
    object-position: center;
    width: 100%;
  }
}
