:root {
  --color-dark: #141414;
  --color-dark-mute: rgba(20, 20, 20, 0.6);
  --color-light: #fbfbfb;
  --color-light-mute: rgba(251, 251, 251, 0.4);
  --color-green: #576f35;
  --color-green-mute: rgba(7, 111, 53, 0.3);
  --color-purple: #7a3145;

  --border: 1px solid rgba(251, 251, 251, 0.2);
  --border-radius: 30px;
  --border-radius-small: 15px;
  --border-radius-large: 40px;
  
  --font-family-base: 'Inter Tight', sans-serif;
  --font-family-alt: 'Studio Pro', sans-serif;

  --container-width: 1080px;
  --container-padding-x: 100px;
  
  --grid-content-padding: 16%; // 100px * 100% / 630px размер левого грид элемента 

  --section-padding-y: 100px;

  --input-heigth: 52px;
  --button-heigth: 52px;

  --transition-duration: 0.2s; 

  @include tablet {
    --container-width: 704px;
    --container-padding-x: 32px;
    --grid-content-padding: 13% ; // 100px * 100% / 768px размер левого грид элемента 
  }

  @include mobile-s {
    --section-padding-y: 80px;
    --container-padding-x: 20px;
  }
}